@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');
*{
    margin:0 auto;
    box-sizing: border-box;
}

body{
	font-family: 'Lato', Helvetica, Arial, Sans-Serif;
    font-weight: normal;
    background-color: #fff;
    margin:0 auto;
    padding:0;
    color: #3c3c3c;
    width: 100%;
    height: 100%;
}

img{
	max-width: 100%;
}

nav{
	width: 100%;
	height: 100vh;
	background:#f4f4f4;
	position: fixed;
	top: 0;
	right: 0;
	z-index:1000;
	flex-wrap: wrap;
	align-items: center;
	padding-right: 10%;
	display: none;
	transition: 0.5s;
}

ul {
	padding: 0;
}

ul li{
	padding:1em 0;
}

.azul li{
	color: #f4f4f4;
}

nav ul{
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: right;
}


nav ul li{
	list-style: none;
	padding:0;
	padding:1em 0;
}

nav ul li:first-child{
	padding-top: 0;
}

nav ul li a{
	font-size: 2em;
	text-decoration: none;
	color: #466aff;
}

nav ul li a:hover{
	color: #3352d3;
	text-decoration: underline;
}

.closebtn, .openbtn{
	position: absolute;
	top: 0.5em;
	right: 10%;
	font-size: 3em;
	text-decoration:none;
	color:#3c3c3c;
	font-weight: 900;
}

.openbtn{
	font-size: 2em;
	top: 1em;
}

.full-height {
	width: 100%;
	min-height: 100vh;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.content{
	padding:3em 10%;
	width: 100%;
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1.5em 10% 0 10%;
}

h1{
	font-size: 4em;
	font-weight: 900;
	color: #3c3c3c;
	padding-top: 0.5em;
}

h2, h5{
	font-size: 1.5em;
	font-weight: 300;
	color: #737373;
	padding-top: 1em;
}

.preto h2{
	font-size: 6em;
	font-weight: 900;
	color: #fff;
	padding:0;
	margin:0.3em 0;
}

h3{
	font-size: 3em;
	color: #3c3c3c;
	font-weight: 900;
}

h4{
	font-size: 1.5em;
	font-weight: 900;
	padding-top: 1em
}

.titulo-dados-gerais{
	padding-bottom:0.15em;
	border-bottom: 2px solid #3352d3;
	font-weight: 900;
}

.azul .titulo-dados-gerais{
	border-color: white;
}

.azul h3, .azul h5{
	color: #fff;
}

.preto h3{
	color: #f4f4f4;
	font-weight: 700;
	font-style: italic;
	background-color: #466aff;
	display: inline-block;
	padding:0 0.5em;
	font-size: 2.1em;
	margin-bottom: 1em;
}

.dados-gerais{
	width: 100%;
	text-align: center;
}

.azul{
	background-color: #3352d3;
}

.preto{
	background-color: #3c3c3c;
	text-align: center;
	color: #fff; 
}

.iniciar{
	display: block;
	margin-top: 2em;
	text-transform: uppercase;
	color: #466aff;
	text-decoration: none;
}

.azul .iniciar{
	color: #fff;
}

.iniciar .btn{
	width:50px;
	height: 50px;
	display: inline-block;
	border-radius: 100%;
	background-color: #466aff;
	margin-right: 1em;
	text-align: center;
	padding-top: 0.85em;
}

.azul .iniciar .btn{
	background-color: #fff;
}

.text{
	display: inline-block;
	position: absolute;
	padding:1em 0 0 0;
}

.iniciar:hover{
	color:#3352d3;
}

.azul .iniciar:hover{
	color: #ccc;
}

.iniciar:hover .btn{
	background-color:#3352d3;
}

.azul .iniciar:hover .btn{
	background-color: #ccc;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 33.3%;
  margin:1em 0;
  padding:0 1.5em;
}

.box-1-2{
	width: 50%;
	padding:2em;
	text-align: left;
}

.box-1{
	width: 100%;
	text-align: left;
}

.box p, .box-1-2 p{
	color: #737373;
	padding-top: 0.5em;
	font-weight: 300;
	font-size: 1.2em;
}

.azul .box p, .azul .box-1-2 p {
	color: #f4f4f4;
}

.preto .box-1-2 p{
	color: #939393;
}

.selecao-btn{
	display: block;
	width: 100%;
	text-align: center;
	padding:1em 0;
	border-bottom:1px solid #000;
	margin-bottom: 1em;
	color: #000;
}

.selecao-btn:hover{
	cursor: pointer;
}

.azul .selecao-btn{
	border-color: #fff;
	color: #fff;
}


input{
	width: 100%;
	padding:1.4em 1em;
	border-radius:4px;
	border:0;
	margin-top:1em;
	color: #737373;
}

button{
	background: none;
	border:0;
}

button:hover{
	cursor: pointer;
}

hr{
	border-bottom: 1px solid #fff;
	margin:2em 0;
}

/*BARRA DE PROGRESSO*/

.progress-bar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0 0 1rem 0;
}
.progress-bar li {
  flex: 2;
  position: relative;
  padding: 0 0 14px 0;
  font-size: 0.9em;
  line-height: 1.5;
  color: #466aff;
  font-weight: 600;
  white-space: nowrap;
  overflow: visible;
  min-width: 0;
  text-align: center;
}
.progress-bar li:first-child,
.progress-bar li:last-child {
  flex: 1;
}
.progress-bar li:first-child{
	text-align: left;
}
.progress-bar li:last-child {
  text-align: right;
}
.progress-bar li:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #f4f4f4;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  left: calc(50% - 6px);
  bottom: -7px;
  z-index: 3;
  transition: all .2s ease-in-out;
}
.progress-bar li:first-child:before {
  left: 0;
}
.progress-bar li:last-child:before {
  right: 0;
  left: auto;
}
.progress-bar li:not(.is-active) span {
  color: #fff;
  font-weight: 300;
}
.progress-bar .is-complete:not(:first-child):after,
.progress-bar .is-active:not(:first-child):after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -2px;
  left: -50%;
  z-index: 2;
}
.progress-bar li:last-child span {
  width: 200%;
  display: inline-block;
  position: absolute;
  left: -100%;
}


.progress-bar .is-active:before,
.progress-bar li:hover:before,
.progress-bar .is-hovered:before {
  background-color: #fff;
  border-color: #466aff;
}
.progress-bar li:hover:before,
.progress-bar .is-hovered:before {
  transform: scale(1.33);
}

.progress-bar .has-changes {
  opacity: 1 !important;
}

.progress-bar .has-changes:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  left: calc(50% - 4px);
  bottom: -20px;
}

.barra{
	background: #fff;
	width: 100%;
	height: 2px;
	margin-top: 2em;
	position: absolute;
	top:25px;
}

.progresso{
	background: #466aff;
	width: 50%;
	height: 2px;
	margin:0;
}

/*RESPONSIVO*/
@media(max-width: 1000px){
	.box {
		width: 50%;
		margin:2.5em 0;
	}
	.box-1-2 {
		width: 100%;
		margin:3em 0;
		padding: 0;
	}
	.box-1-2 h3{
		text-align: center;
	}
}

@media(max-width: 800px){
	h1{
		font-size: 2em;
	}
	h2, h5{
		font-size: 1em;
	}
	h3{
		font-size: 2em;
		text-align: center;
	}
	.box {
		width: 100%;
		margin:1em 0;
	}

	.preto h2{
		font-size: 3em;
	}

	nav ul li a{
		font-size: 1.2em;
	}
}